body {
  background: #222;
  color: white;
  font-size: 1.3em;
}

.App {
  width: 100%;
}

.Container {
  margin-top: 20px;
}

.Container > div {
  width: 33%;
  vertical-align: top;
  display: inline-block;
}

.Container > div > p{
  position: fixed;
  padding: 20px;
  font-size: 2em;
}
.Container > div > p > button {
  margin-top: 10px;
  padding-top: 10px;
  border: 0;
  font-size: 2em;
  background: #333;
  display: block;
  width: 100%;
  text-align: center;
}

.App--item {
  border: 1px solid #333;
  cursor: pointer;
  line-height: 2em;
  padding: 12px;
  margin: 8px;
}

.selected {
  color: salmon;
}
