body {
  background: #222;
  color: white;
  font-size: 1.5vw;
}

body h1 {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
}

.App {
  width: 100%;
}

.Container {
  padding: 120px;
}

.Container > div {
  min-width: 40%;
  vertical-align: top;
  display: inline-block;
}


.App--item {
  border: 1px solid #333;
  cursor: pointer;
  line-height: 2em;
  padding: 12px;
  margin: 8px;
}

.selected {
  color: salmon;
}
